{
  "Entries": [
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fsrcfile?op=CREATE&permission=770&overwrite=True&leaseid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&filesessionid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "30f615d9-2b4f-4074-8f88-c67b8f8c10cb.0.1,94,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,3"
        ]
      },
      "ResponseHeaders": {
        "ContentLength": [
          "0"
        ],
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Location": [
          "https://rduttaadlus02.caboaccountdogfood.net/webhdfs/v1/TestAzure/srcfile?op=CREATE&permission=770&overwrite=True&leaseid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&filesessionid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&CreateParent=True&write=true&syncFlag=DATA&api-version=2018-09-01"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 201
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fsrcfile?op=APPEND&leaseid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&filesessionid=6dc8c68b-cd32-4c32-b73d-b55f04a7abd9&append=true&offset=0&syncFlag=CLOSE&api-version=2018-09-01",
      "RequestMethod": "POST",
      "RequestBody": "I am the second line.I am the second line.I am the second line.I am the second line.I am the second line.I am the second line.I am the second line.",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "89c6efae-101d-4daf-b0e4-43a4f8cb10b6.0.0,358,,CREATE,0,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fsrcfile?op=RENAME&destination=%2FTestAzure%2Fdestfile&api-version=2018-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "f95c52d5-009a-4db7-b93c-a363578f7aed.0.0,165,,APPEND,147,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fsrcfile?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "89ec3b5d-0dd8-4206-9708-5ac3a64db66d.0.0,107,,RENAME,16,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x8309000A"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"RemoteException\": {\r\n    \"exception\": \"FileNotFoundException\",\r\n    \"message\": \"File/Folder does not exist: /TestAzure/srcfile [ac8d2548-542b-4938-94ab-2767a66e3802][2019-04-08T20:34:11.2986932-07:00]\",\r\n    \"javaClassName\": \"java.io.FileNotFoundException\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fdestfile?op=GETFILESTATUS&tooid=True&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "424b09d2-34d7-42e9-8b9f-8c464483846a.0.1,96,HTTP NotFound ( FileNotFoundException ),GETFILESTATUS,0,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 147,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554780850886,\r\n    \"modificationTime\": 1554780851054,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fdestfile?op=GETFILESTATUS&tooid=True&getconsistentlength=true&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "51937a76-1683-4f36-9421-bb35acc48578.0.0,103,,GETFILESTATUS,306,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"FileStatus\": {\r\n    \"length\": 147,\r\n    \"pathSuffix\": \"\",\r\n    \"type\": \"FILE\",\r\n    \"blockSize\": 268435456,\r\n    \"accessTime\": 1554780850886,\r\n    \"modificationTime\": 1554780851054,\r\n    \"replication\": 1,\r\n    \"permission\": \"770\",\r\n    \"owner\": \"c3a586ce-94db-4ca2-af6c-32b484f0b009\",\r\n    \"group\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"msExpirationTime\": 0,\r\n    \"aclBit\": false\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fdestfile?op=OPEN&read=true&filesessionid=952cc665-e3e5-47d7-b000-821eebdb8724&offset=0&length=4194304&api-version=2018-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "38cca090-5062-4cd7-850e-b48da0022257.0.0,159,,GETFILESTATUS,306,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/octet-stream"
        ]
      },
      "ResponseBody": "SSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUuSSBhbSB0aGUgc2Vjb25kIGxpbmUu",
      "StatusCode": 200
    },
    {
      "RequestUri": "/webhdfs/v1%2FTestAzure%2Fdestfile?op=DELETE&recursive=False&api-version=2018-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-adl-client-latency": [
          "d6c4cf1d-cf04-49ff-baba-f5abc03a1834.0.0,178,,OPEN,147,4"
        ]
      },
      "ResponseHeaders": {
        "x-ms-webhdfs-version": [
          "17.04.24.00"
        ],
        "Status": [
          "0x0"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"boolean\": true\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}